<div class="section main_feedback w-100">
  <h2>Отзывы наших клиентов</h2>
  <hr>
  <ul id="lightSliderReviews">
    <li *ngFor="let re of Reviews">
      <div class="reviews_name">{{re.name}}</div>
      <div class="reviews_text">{{re.body}}</div>
      <div class="reviews_date">{{re.date}}</div>
    </li>
    <li>
      <div class="reviews_name">Виктория</div>
      <div class="reviews_text">Здравствуйте!) Недавно ставили новые окна для дома. Если честно, не знали к кому
        обращаться. Фирм много, а качество, которое они предлагают можно проверить уже после того, как поставишь
        окна) Долго думали и обратились к вам. Понравилось, что нас очень хорошо проконсультировали. Видно, что
        ребята ответственные, работают на совесть и вкладывают душу в свой труд, чем и порадовали. Окна поставили,
        все прекрасно, всем довольны. Будем советовать вас друзьям, если что) Успехов и плодотворного труда!)
      </div>
      <div class="reviews_date">18.05.2020г.</div>
    </li>
    <li>
      <div class="reviews_name">Имя_2</div>
      <div class="reviews_text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, amet officiis odit
        ea quae ipsum officia deserunt reiciendis impedit ducimus doloremque illum error animi omnis accusamus
        voluptatem cupiditate sequi alias?</div>
      <div class="reviews_date">16.09.2021г.</div>
    </li>
    <li>
      <div class="reviews_name">Имя_3</div>
      <div class="reviews_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo deleniti sunt,
        totam in neque magni illo nihil animi tempora esse optio itaque! Dicta incidunt voluptatum beatae
        dignissimos neque eius officiis!</div>
      <div class="reviews_date">16.09.2021г.</div>
    </li>
  </ul>
</div>
