<div class="container-fluid header">
  <header class="row header_wrap">
    <div class="col-sm-3 logo"><a href="/"><img class="logo_img" src="/assets/main/logo.png" alt="logo"></a></div>
    <div class="col-sm-3 logo_sm"><a href="/"><img class="logo_img_sm" src="/assets/main/logo_sm.png" alt="logo"></a>
    </div>
    <div class="nav_bg"><span></span></div>
    <div class="nav">
      <img class="logo_img_sm" src="/assets/main/logo_sm.png" alt="logo">
      <a href="/">Главная</a>
      <a href="/contacts">Контакты</a>
      <a href="">Вызвать замерщика</a>
      <hr>
      <a href="tel:+380932523524">(093) 252 - 35 - 24</a><span>Пр.Центральный&nbsp;31/5</span>
      <a href="tel:+380630100800">(063) 010 - 08 - 00 </a><span> Намыв&nbsp;ТК&nbsp;«Лазурный»</span>
    </div>
    <div class="menu menu_main col-sm-1"><a href="/">Главная</a></div>
    <div class="menu col-sm-2"><a href="/contacts">Контакты</a></div>
    <div class="btn_background"><a class="btn_form col-sm-3" href="">Вызвать замерщика<span>БЕСПЛАТНО</span></a>
    </div>
    <div class="tel_head col-sm-3">
      <a href="tel:+380932523524">(093) 252 - 35 - 24 </a><span>Пр.Центральный&nbsp;31/5</span><br>
      <a href="tel:+380630100800">(063) 010 - 08 - 00 </a><span>Намыв&nbsp;ТК&nbsp;«Лазурный»</span>
    </div>
  </header>
</div>
