<div class="left_menu_btn">Каталог товаров</div>
<div class="left_menu">
  <h2>Каталог товаров</h2>
  <hr>
  <ul class="left_menu_list">
    <li>
      <h3>
        <div class="list_style"></div><a href="#">Окна</a>
      </h3>
      <ul class="left_list_ch">
        <li><a href="#">Rehau</a></li>
        <li><a href="#">Kömmerling</a></li>
        <li><a href="#">Trocal</a></li>
      </ul>
    </li>
    <li>
      <h3>
        <div class="list_style"></div><a href="#">Подоконники</a>
      </h3>
      <ul class="left_list_ch">
        <li><a href="#">Rehau</a></li>
        <li><a href="#">Kömmerling</a></li>
        <li><a href="#">Trocal</a></li>
      </ul>
    </li>
    <li>
      <h3>
        <div class="list_style"></div><a href="#">Двери</a>
      </h3>
      <ul class="left_list_ch">
        <li><a href="#">Rehau</a></li>
        <li><a href="#">Kömmerling</a></li>
        <li><a href="#">Trocal</a></li>
      </ul>
    </li>
  </ul>
</div>
