<div class="section main_gallery w-100">
  <h2>Галерея</h2>
  <hr>
  <ul id="lightSlider">
    <li>
      <img class="slide" src="/assets/main/slider/1.webp" alt="slide_1">
    </li>
    <li>
      <img class="slide" src="/assets/main/slider/2.webp" alt="slide_2">
    </li>
    <li>
      <img class="slide" src="/assets/main/slider/3.webp" alt="slide_3">
    </li>
    <li>
      <img class="slide" src="/assets/main/slider/4.webp" alt="slide_4">
    </li>
    <li>
      <img class="slide" src="/assets/main/slider/5.webp" alt="slide_5">
    </li>
    <li>
      <img class="slide" src="/assets/main/slider/6.webp" alt="slide_6">
    </li>
    <li>
      <img class="slide" src="/assets/main/slider/7.webp" alt="slide_7">
    </li>
    <li>
      <img class="slide" src="/assets/main/slider/8.webp" alt="slide_8">
    </li>
    <li>
      <img class="slide" src="/assets/main/slider/9.webp" alt="slide_9">
    </li>
    <li>
      <img class="slide" src="/assets/main/slider/10.webp" alt="slide_10">
    </li>
    <li>
      <img class="slide" src="/assets/main/slider/11.webp" alt="slide_11">
    </li>
    <li>
      <img class="slide" src="/assets/main/slider/12.webp" alt="slide_12">
    </li>
    <li>
      <img class="slide" src="/assets/main/slider/13.webp" alt="slide_13">
    </li>
    <li>
      <img class="slide" src="/assets/main/slider/14.webp" alt="slide_14">
    </li>
    <li>
      <img class="slide" src="/assets/main/slider/15.webp" alt="slide_15">
    </li>
    <li>
      <img class="slide" src="/assets/main/slider/16.webp" alt="slide_16">
    </li>
    <li>
      <img class="slide" src="/assets/main/slider/17.webp" alt="slide_17">
    </li>
    <li>
      <img class="slide" src="/assets/main/slider/18.webp" alt="slide_18">
    </li>
    <li>
      <img class="slide" src="/assets/main/slider/19.webp" alt="slide_19">
    </li>
    <li>
      <img class="slide" src="/assets/main/slider/20.webp" alt="slide_20">
    </li>
  </ul>
</div>
