<footer id="footer" class="container-fluid">
  <div class="row footer">
    <div class="footer_logo col-md-5">
      <a href="/"><img class="logo" src="/assets/main/logo.png" alt="logo"></a><br>
      <span>Мы в соцсетях:</span>
      <div class="social">
        <a class="footer_instagram" href="https://instagram.com"></a>
        <a class="footer_facebook" href="https://facebook.com"></a>
        <a class="footer_telegram" href="https://facebook.com"></a>
        <a class="footer_viber" href="https://facebook.com"></a>
      </div>
    </div>
    <ul class="footer_nav col-md-4">
      <li><a href="/">Главная</a></li>
      <li><a href="">Контакты</a></li>
      <li class="footer_btn_form"><a href="">Вызвать замерщика</a></li>
    </ul>
    <ul class="footer_contacts col-md-3">
      <li><a href="tel:+380932523524">(093) 252 - 35 - 24</a><br>Пр. Центральный 31/5</li>
      <li><a href="tel:+380630100800">(063) 010 - 08 - 00</a><br>Намыв ТК «Лазурный»</li>
      <li><a href="mailto:domostroy.c@gmail.com">Email: domostroy.c@gmail.com</a><br>
        <a href="mailto:domostroy.Laz@gmail.com">Email: domostroy.Laz@gmail.com</a></li>
    </ul>
  </div>
</footer>
<div class="scrollup"></div>
